<!-- Article gets *Article -->
{{ define "article" }}

<head>
	{{ template "head" }} <!-- from index.html -->

	<title>{{.Title}} - tblog demo</title>
	<meta property="og:title"       content="{{.Title}}"         />
	<meta property="og:description" content="{{synopsis .Body | or .Meta.Synopsis .Meta.Summary}}" />
</head>

<body>
	<header>
		<h3>tblog demo</h3>
	</header>

	<hr>

	<article>
		<h1>{{ .Title }}</h1>
		{{ with .Meta.Date }}<p class="date">{{ . }}</p>{{ end }}
		{{ render .Body }}
	</article>
</body>

{{ end }}
